/* Write your CSS here */
.tab {
  margin: 5px;
}

.button {
  background-color: transparent;
  font-size: 13px;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  font-family: 'Roboto';
  color: #7b8794;
  border: none;
}
